dist: xenial

language: python

python:
  - 3.9
  - 3.8
  - 3.7
  - 3.6

install:
  - pip install pytest coveralls

script:
  - coverage run --source=torrt setup.py test

after_success:
  - coveralls
